.main {
    margin: auto;
    min-width: 50%;
    max-width: 800px;
    margin-top: 4rem;
}

body {
    margin-left: 1rem;
    margin-right: 1rem;
}

p {
    margin-bottom: 0;
}

dl {
    margin-bottom: 0;
}

.project-name > a > u {
    color: #007bff;
}

@media (max-width: 575.98px) {
    .project-name > * > *, .project-name {
        font-style: italic;
    }
}

.main-ru {
    opacity: 0.4;
}

.regular-text {
    font-weight: normal;
}
